@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=DM+Sans&family=Indie+Flower&family=Inter:wght@100;500;600;800&family=Major+Mono+Display&family=Montserrat:wght@100;200;300;400;700&family=Orbitron&family=Overpass+Mono:wght@300&family=Poppins:wght@600&family=Stick&display=swap');

:root {
    background-color: black;
    color: white;
    width: 100vw;
    font-family: "inter";
    
}

*{
    margin: 0;
}
.weblogo {
    transform: scale(0.7);
    display: flex;
    align-items: center;
    word-spacing: 2px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner {
    background-size: cover;
    background-image: url(https://image.tmdb.org/t/p/original//Ab8mkHmkYADjU7wQiOkia9BzGvS.jpg);
    background-position: center center;
    color: #fff;
    height: 448px;
    object-fit: contain;
}
.search{
    background-color:rgba(255, 255, 255, 0.318);
    border: white solid 1px;
    height: 30px;
    border-radius: 20px;

}
.search::placeholder {
    color: rgba(255, 255, 255, 0.752);
    padding-left: 5px;
    font-size: 17px;
}
.search:focus{
    outline: none;
}

.movie-posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 15px;
    transition: all 0.3s ease;
    height: auto;
}

.mainimg{
    /* width: 167px; */
    height: 270px;
    cursor: pointer;
    margin-right: 7px;
    object-fit: contain;
    /* width: 100%; */
    transition: transform 0.45s ease 0s, -webkit-transform 0.45s ease 0s;
}
.mainimg:hover, .mainimg:hover .originals{
    transform: scale(1.08);
    transition: all 0.3s ease;
  

}
.movie-info {

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.originals {
padding: 2rem;
/* position:absolute; */
max-height: 100%;
width: auto;
display: none;
transition: all 0.2s ease;
white-space: none;

}

/* .movie:hover .originals{
    transform: translateY(0);
    display: block;
    position: relative;
    opacity: 100;
} */

.sypnosis {
    width: 30rem;

}

h3{
    font-size: 34px;
    margin-bottom: 9px;
}
span{
    font-size: 20px;
    font-weight: bold;
}

.hide{
    display: none;
    transition: all 0.3s ease;
}


.show {
    display: block;
    transition: all 0.3s ease;
}